task/task-v/ansys/task-11/ground_truth/wb_hertz.rst filter=lfs diff=lfs merge=lfs -text
/task/task-c/fenics/task-20/init_file/job_a.py text eol=lf
/task/task-c/fenics/task-20/init_file/job_b.py text eol=lf
/task/task-c/openfoam/task-14/init_file/snappy_base/constant/triSurface/cylinder.stl text eol=lf
/task/task-c/openfoam/task-14/ground_truth/cylinder_snappy/constant/triSurface/cylinder.stl text eol=lf
/task/task-c/openfoam/task-17/ground_truth/fixed/0.5/U text eol=lf
/task/task-c/openfoam/task-17/ground_truth/fixed/0.5/p text eol=lf
/task/task-c/floris/task-17/init_file/job_baseline.py text eol=lf
/task/task-c/floris/task-17/init_file/job_yaw.py text eol=lf
/task/task-c/solidcam/task-17/init_file/tools.csv text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.csv text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.epw text eol=crlf
/task/quantified/cli-openstudio-energy-optimization/**/*.idf text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.json text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.md text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.osm text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.osw text eol=lf
/task/quantified/cli-openstudio-energy-optimization/**/*.rb text eol=lf
