init_file/*.json text eol=lf
init_file/*.epw text eol=lf
init_file/*.ps1 text eol=lf
init_file/*.rb text eol=lf
init_file/revit_bridge/*.addin text eol=lf
ground_truth/*.csv text eol=lf
eval.py text eol=lf
