
postProcess has been superseded and replaced by the more general foamPostProcess
utility which will be executed instead:

/*---------------------------------------------------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  11
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
Build  : 11-e1fc8c682ae6
Exec   : foamPostProcess -case /home/user/Desktop/cavity_graph -func sampleDict -latestTime
Date   : Aug 01 2026
Time   : 08:32:43
Host   : "iv-yeru2drz7kxjd1tjxgx6"
PID    : 62889
I/O    : uncollated
Case   : /home/user/Desktop/cavity_graph
nProcs : 1
sigFpe : Enabling floating point exception trapping (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster (fileModificationSkew 10)
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 30

Reading set description:
    vertical
    horizontal

Time = 30s

Reading fields:
    volVectorFields: U

Executing functionObjects

End

