ground_truth/*.csv binary
ground_truth/*.end binary
ground_truth/*.epw binary
ground_truth/*.err binary
ground_truth/*.idf binary
ground_truth/*.ifc binary
ground_truth/*.json binary
ground_truth/*.osm binary
ground_truth/*.osw binary
ground_truth/run/* binary
init_file/init.ifc -text
init_file/*.ps1 text eol=lf
init_file/*.py text eol=lf
init_file/*.rb text eol=lf
task_config/*.ps1 text eol=lf
